.container#content {
  margin-top: 40px;
}
body {
  background-color: $light-gray;
  font-family: $site-font;

}
a {
  color: #45156c;
  &:hover {
    color: purple;
    text-decoration: none;
  }
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #45156c;
}
.navbar {
  background-color: white;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  line-height: 1;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #45156c;
  &:hover {
    color: #45156c;
  }
}
ul {
  list-style: none;
  padding: 0;
}
