.container#content {
  margin-top: 40px;
}
body {
  background-color: $light-gray;
  font-family: $site-font;
}
a {
  color: #45156c;
  &:hover {
    color: #45156c;
    text-decoration: none;
  }
}
h5{
  color: #45156c;

}

.navbar {
  background-color: white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  line-height: 1;
  height: 50px;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #45156c;
  &:hover {
    color: #45156c;
  }
}
.nav-item{
  padding-right: 25px;
}

  
ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10;
}
li{
  list-style: none;

  margin-bottom: 10;
}

