.card {
  margin-bottom: 30px;
  border-radius: 1px 1px 1px 1px;
}
ul.post-tags {
  padding: 0;
  display: inline-flex;
  list-style: none;

  li {
    margin-right: 10px;
    margin-bottom: 10px;
    
  }
}
li{
  margin-bottom: 10px;
}
.indexCard{
  box-shadow: 3px 3px 3px black;
  border-color: $main;
  background-color: $main;
  border-radius: 8px;
}
.card-image-top{
  border-radius: 1px 1px 1px 1px;
}

