.card{
  background-color: white;

  .card-title{
    padding-top:10px;
    margin-top: 10px;
  }
}
.tagButton{
  text-transform: uppercase;

}
.tagButton:focus{
  background-color: green;
}
.tagButton:active{
  background-color: green;

}
.tagButton:target{
  background-color: green;

}