.card{
  background-color: white;

  .card-title{
    padding-top:10px;
    margin-top: 10px;
  }
}
.tagButton{
  font-size: 14px;
  text-transform: uppercase;
  background-color:$main;
}
.tagButton:hover{
  background-color: $main;

}
