.card{
  background-color: white;

  .card-title{
    padding-top:10px;
    margin-top: 10px;
  }
}
.tagButton{
  font-size: 14px;
  text-transform: uppercase;
  background-color:$main;
}
.tagButton:hover{
  background-color: $main;

}
.subscribeButton:hover{
  background-color: $main;
}

.hideSideBar{
  display:none;
}

.viewBlogsHeadline{
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;

}

.newslettertitle{
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
}


.subscribeButton:active{
  background-color: $main;
}
.subscribeButton{
  background-color: $main;
}
