@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
$site-font: 'Titillium Web', sans-serif;

$light-gray: rgba(240, 240, 240, 0.774);
$dark-gray: rgb(80, 80, 80);
$white: white;
$main:   rgb(13, 139, 148);

