@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
$site-font: 'Quicksand', sans-serif;

$light-gray: rgba(240, 240, 240, 0.774);
$dark-gray: rgb(80, 80, 80);
$white: white;
